venv/
*.save0
nw00*
*.fls
*.fdb_latexmk
*.log
*.out
*.pdf
*.tex
.stack-work/
server/dist/
server/result
elm-stuff/
*.sw*
.#*
.~lock*
elmBuildDir/
buildDir/
elmBuildDir/*
buildDir/*
*.aux
*.ps
remoteScript.sh
main.js
runRedirect.sh
runServer.sh
*.hi
*.cabal
elmSrc/Data.elm
oldGit/
